



*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#F5F7FA;
    width:100%;
    height: 5vw;
}
nav ul li{
    display: flex;
    
    
}
ul{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 10vw;
    
}
li{
    gap: 50px;
    font-family: 'inter';
    font-size: 16px;
    font-weight: 500;
    color: #18191F;
    font-style: normal;
    line-height: 24px;

}
.btn{
    width: 10vw;
    height: 3vw;
    background-color: #4CAF4F;
    color:#ffff ;
    font-weight: 500;
    font-family: 'inter';
    font: size 11.5px; 
    border: none;
    border-radius: 3px;


    

}
.logo img{
    width: 3vw;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 7.5vw;
}
.logo h2{
    font-family: 'Bebas Neue';
    color: #263238;
    font-size: 2.5vw;
    letter-spacing: 2px;
    font-weight: 200;
    
}
.left{
    width: 60%;
    margin-left: 8vw;
    justify-content: center;
    align-items: center;
    margin-top: 7vw;

}
.left h1{
    font-family: 'inter';
    font-weight: 600;
    font-style: semi-bold;
    color: #4D4D4D;
    font-size: 4vw;
    line-height: 4.5vw;

}
.left h1 span{
    color: #4CAF4F;
      font-family: 'inter';
    font-weight: 600;
    font-style: semi-bold;
    
}
.left p{
    color: #717171;
    font-size:1vw ;
    font-family:'inter' ;
    font-weight: 400;
    line-height: 4vw;
}
.btn2{
  width: 10vw;
    height: 3vw;
    background-color: #4CAF4F;
    color:#ffff ;
    font-weight: 500;
    font-family: 'inter';
    font-size:  15px; 
    border: none;   
    border-radius: 3px;
    margin-top: 2vw;

}

.right{
    width: 40%;
    margin-top: 5vw;


}
.right img{
    width: 25vw;

}
main{
    display: flex;
}
.submain h2{
    color:#4D4D4D ;
    font-size: 2vw;
    font-family:'inter' ;
    font-weight: 600;
    font-style: semi-bold;
    justify-content: center;
    align-items: center;

}
.submain2 p{
    color: #717171;
    font-family: 'inter';
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    margin-left: 34vw;
    line-height: 3vw;
    
}
.submain{
margin-left: 40vw;
margin-top: 6vw;
}
.submain3{
    
    
    margin-left:33vw;
    
     color:#4D4D4D ;
    font-size: 1.3vw;
    font-family:'Inter' ;
    font-weight: 500;
    font-style: normal;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    
}
.break{
    margin-left: 6vw;
    line-height: 3.5vw;
}
.para p{
    color:#717171 ;
    font-family: 'Inter';
    font-size: 1vw;
    font-weight: 400;
    font-style:Regular;
    margin-left: 40vw;
    
}
.dot{
    width: 2vw;
    
    margin-left: 45vw;
    margin-top: 5vw;
}
.icons{
    display: flex;
    gap: 8vw;
    margin-top:3vw;
    margin-left: 16vw;
}
.portion{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vw;
}
.portion h2{
    color:#4D4D4D ;
    font: size 1.8em;
    font-family: 'Inter';
    font-weight:700 ;
    font-style:bold ;
}
 .portion p{
    color: #717171;
    font-family: 'inter';
    font-size: 1vw; ;
    font-weight: 400;
    font-style:regular; 

}
.box1{
    width: 20%;
    text-align: center;
    
}
.box2{
    width: 20%;
    text-align: center;
    
    

}
.box3{
text-align: center;
width: 20%;}
.box1 img{

    width: 4vw;
}
.box2 img{


    width: 4vw;
    
}
.box3 img{
    
    width: 4vw;
}
.color{
    color:#F5F7FA;
}

.box1 p{
    line-height: 1.3vw;
    margin-top: 1vw;
}
.box2 p{
    line-height: 1.3vw;
    margin-top: 1vw;

}
.box3 p{
    line-height: 1.3vw;
    margin-top: 1vw;
}

.portion2{
    display: flex;
    
}
.left1{
    width: 60%;
    margin-right: 7vw;
    margin-top: 9vw;
    
}
.right1{
    width: 40%;
    margin-left: 10vw;
    margin-top: 5vw;
    
}

.left1 h2{
    color: #4D4D4D;
    font-family: 'inter';
    font-weight: 600;
    font-style: bold;
    font-size: 2vw;
    line-height: 2rem;

}
.left1 p{
    color:#717171;
    font-family:'inter';
    font-weight: 400;
    font-style:Regular;
    font-size: 1vw;
    line-height: 1rem;
    margin-top: 1vw;
}
.btn3{
   background-color: #4CAF4F;
   color:#ffff;
height: 3vw;
border: none;
border-radius: 2px;
    width: 9vw;
margin-top: 2vw;
}
.portion3{
    display: flex;
    margin-top: 8vw;
}
.right2 {
    width: 50%;
    margin-left: 10vw;

}
.right2 h2{
    font-family: 'inter';
    font-weight: 600;
    font-size:2vw ;
    font-style:ssemi-bold ;
    color: #4D4D4D;
}
.right2 p{
    color:#18191F ;
    font-size: 1vw;
    font-family: 'inter';
    font-weight:400 ;
font-style: regular;
line-height: 2vw;
}
.right2 h2 span{
    color: #4CAF4F;

}
/* .left2{
    width:60%;
    display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns banay ga */
  /* gap: 20px; /* boxes ke darmiyan space */
    

/* .left2 h2{
    color: #4D4D4D;
    font-size: 2vw;
    font-family: 'inter';
    font-weight: 700;
    font-style: semi-bold;
}
.left2 p{
    color: #717171;
    font-size: 1vw;
    font-family: 'inter';
    font-weight: 400;
    font-style: regular; */

  
   */ */




